<app-navbar></app-navbar>
<div class="jumbotron text-center">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">This is Contact page</p>
</div>
<div class="container">
    <section>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus sunt facere vero at quae commodi dicta,
        provident optio hic dolorem ut suscipit eaque id, nisi ipsum iure iste! Odio consequuntur, saepe dicta id
        repellat ducimus. Delectus numquam beatae repudiandae nam veniam aliquid harum cupiditate minus similique dolor
        nesciunt exercitationem sit blanditiis ab, perspiciatis asperiores ipsam accusamus enim quia! Deserunt voluptas
        debitis facere! Unde ex rerum pariatur consequatur quae dolorum quas quo porro laudantium sapiente, esse
        corporis culpa praesentium, obcaecati placeat similique, minus officiis numquam nisi impedit repudiandae
        maiores? Pariatur adipisci nobis tempore atque labore praesentium, architecto vel nemo autem dignissimos?</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, laborum, tenetur perspiciatis provident in
        sequi blanditiis nesciunt sit ducimus fuga ad quos aliquam reprehenderit cum voluptate? Eveniet, placeat minus
        magni cum earum possimus eligendi. Magnam eos ipsum debitis sapiente facere alias vitae cumque voluptatibus
        ratione similique illo natus nesciunt, culpa omnis vel, repellat temporibus iste aut asperiores harum distinctio
        blanditiis laboriosam voluptates voluptatum! Repellendus quibusdam quaerat quas, hic sapiente tempora eveniet et
        recusandae, nesciunt repellat maiores soluta fugit sint iure magni earum expedita optio quidem possimus atque
        accusamus saepe! Eaque adipisci quia id fugiat voluptatem minus minima dolores dignissimos fuga?</p>
    </section>
</div>